{{#each days}}
    {{#if copy}}
    <li class='trump-tracker__day' id='day-{{ day }}'>
        <h2 class='trump-tracker__day-headline'>Day {{ day }}</h2>

        {{#if_eq type 'image'}}
            {{{getImage media}}}
        {{/if_eq}}

        <div class='trump-tracker__day-copy'>{{ copy }}</div>

        {{#if_eq type 'graphic'}}
        <figure class="element element-interactive interactive" data-interactive="https://interactive.guim.co.uk/embed/iframe-wrapper/0.1/boot.js" data-canonical-url="{{ media }}">
            <a href="{{ media }}" data-link-name="in body link" class="u-underline">Interactive</a>
        </figure>
<!--         <iframe class='trump-tracker__day-iframe' src='{{ media }}'></iframe> -->
        {{/if_eq}}

        {{#if_eq type 'embed'}}
            {{{ media }}}
        {{/if_eq}}

        <div class='trump-tracker__day-share'>
            <a href='#day-{{ day }}' class='trump-tracker__day-share-button trump-tracker__day-share-button--facebook'></a>
            <a href='#day-{{ day }}' class='trump-tracker__day-share-button trump-tracker__day-share-button--twitter'></a>
            <a href='#day-{{ day }}' class='trump-tracker__day-share-button trump-tracker__day-share-button--email'></a>
        </div>
    </li>
    {{/if}}
{{/each}}
