<li class='trump-tracker__day trump-tracker__day--membership' id='membership'>
    <h2 class='trump-tracker__day-headline'>Since you're here &#8230;</h2>
    <div class='trump-tracker__day-copy'>&#8230; we have a small favour to ask. More people are reading the Guardian than ever but fewer are paying for it. And advertising revenues are falling. The Guardian’s independent, investigative journalism takes a lot of time, money and hard work. If you help to support it, our future would be more secure</div>

    <div class='trump-tracker__day-links'>
        <a href='https://membership.theguardian.com/supporter?INTCMP=gdnwb_copts_editorial_mem_Trump100Days_embed' class='trump-tracker__day-link'>Become a supporter</a>
        <a href='https://contribute.theguardian.com/home?INTCMP=co_us_editorial_embed_Trump100Days' class='trump-tracker__day-link'>Make a contribution</a>
    </div>
</li>