@import "../../node_modules/sass-mq/mq";

// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

// colours
$c-blue: #1e3f74;
$c-red: #b51800;
$c-light-blue: #aad8f1;

// non-colours
$c-white: #ffffff;
$c-off-white: #f1f1f1;
$c-grey: #dfdfdf;
$c-dark-grey: #999;
$c-black: #333333;

// social
$c-twitter: #4bc6df;
$c-facebook: #3067a3;

// other
$c-ad-grey: #f6f6f6;

@import "partials/fonts";
@import "partials/page";

@import "partials/base";
@import "partials/header";
@import "partials/loading";
@import "partials/stats";
@import "partials/days";
@import "partials/sidebar";
@import "partials/membership";
@import "partials/related";