<div class="l-side-margins">
    <div class="trump-tracker">
        {{> templates/partials/header }}

        <div class='gs-container'>
            <div class='trump-tracker__loading'>
                <ul class='trump-tracker__loading-messages'>
                    <li class='trump-tracker__loading-message'>Waiting outside Trump Tower</li>
                    <li class='trump-tracker__loading-message'>Parsing Tweets</li>
                    <li class='trump-tracker__loading-message'>Measuring the wall</li>
                </ul>
            </div>

            <div class='trump-tracker__mainCol'>
                <div class='trump-tracker__stats'>
                    Also I'm being replaced
                </div>
                <ul class='trump-tracker__days'>
                    Replace me
                </ul>
            </div>
        </div>
    </div>
</div>