<div class="l-side-margins">
    <div class="trump-tracker">
        {{> templates/partials/header }}

        <div class='trump-tracker__content'>
            <div class='trump-tracker__loading'>
                <img class='trump-tracker__loading-gif' src='@@assetPath@@/assets/images/loading.gif' />
                <ul class='trump-tracker__loading-messages'>
                    <li class='trump-tracker__loading-message trump-tracker__loading-message--1'>Waiting outside Trump Tower</li>
                    <li class='trump-tracker__loading-message trump-tracker__loading-message--2'>Parsing Tweets</li>
                    <li class='trump-tracker__loading-message trump-tracker__loading-message--3'>Measuring the wall</li>
                </ul>
            </div>

            <div class='trump-tracker__stats'>
                <div class='gs-container'>
                    I'm being replaced
                </div>
            </div>

            <div class='gs-container'>
                <div class='trump-tracker__mainCol'>
                    <div class='trump-tracker__sidebar'>
                        <p class='trump-tracker__updated'></p>
                    </div>
                    <ul class='trump-tracker__days'>
                        Replace me
                    </ul>
                    <div class='trump-tracker__related'>
                        Related Content...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script async src='@@assetPath@@/app.js'></script>