<div class='trump-tracker-header'>
    <div class='gs-container'>
        <div class='trump-tracker-header__content'>
            <p class='trump-tracker-header__standfirst'>Tracking the most controversal president in US history one day a time</p>
            <h1 class='trump-tracker-header__title'>
                <span class='trump-tracker-header__title__the'>The</span>
                <span class='trump-tracker-header__title__sound'>sound</span>
                <span class='trump-tracker-header__title__of'>of</span>
                <span class='trump-tracker-header__title__la'>LA</span>
                <img class='trump-tracker-header__title-image' src='@@assetPath@@/assets/images/la.svg' />
            </h1>
        </div>
    </div>
</div>