.trump-tracker {
    font-family: 'Guardian Egyptian Web';
    font-weight: 400;
}

.trump-tracker__mainCol {
    position: relative;
    padding: 0 10px;

    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    @include mq(desktop) {
        padding: 0;
        margin: 12px 0 12px 340px;
    }

    @include mq(leftCol) {
        margin-left: 500px;
    }
}
