.trump-tracker {
    font-family: 'Guardian Egyptian Web';
    font-weight: 400;
}

.trump-tracker__mainCol {
    position: relative;

    @include mq(wide) {
        margin: 12px 0 12px 500px;
    }
}
