.trump-tracker__days {
    list-style: none;
    margin: 0;
    padding: 0;
}

.trump-tracker__day {
    max-width: 620px;
    box-sizing: border-box;
    margin-bottom: 12px;
    border: 1px solid $c-red;
    padding: 3px 10px;
}

.trump-tracker__day-headline {
    color: $c-blue;
    font-size: 16px;

    @include mq(tablet) {
        font-size: 24px;
    }
}

.trump-tracker__day-image {
    width: calc(100% + 22px);
    height: auto;
    margin: 4px -11px;
}

.trump-tracker__day-copy {
    margin-bottom: 12px;
    font-family: 'Guardian Text Egyptian Web';
    font-size: 16px;
    line-height: 24px;
}

.trump-tracker__day-iframe {
    width: 100%;
    border: 0;
}

.trump-tracker__day-share {
    float: right;
}

.trump-tracker__day-links {
    overflow: auto;
}

.trump-tracker__day-link {
    display: inline-block;
    height: 24px;
    border: 1px solid $c-blue;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.9;
    padding: 0 32px 0 8px;
    font-family: 'Guardian Sans Web';
    color: $c-blue;
    float: left;
    background-image: url('@@assetPath@@/assets/images/arrow-right.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 24px;
    margin-right: 6px;
}

.trump-tracker__day-caption {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 18px;
    color: #676767;
    background-image: url('@@assetPath@@/assets/images/arrow-right.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px;
}

.trump-tracker__day-share-button {
    display: inline-block;
    margin-right: 2px;
    height: 24px;
    width: 24px;
    border: 1px solid $c-grey;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.trump-tracker__day-share-button--facebook {
    background-image: url('@@assetPath@@/assets/images/facebook.svg');
    border-color: $c-facebook;
}

.trump-tracker__day-share-button--twitter {
    background-image: url('@@assetPath@@/assets/images/twitter.svg');
    border-color: $c-twitter;
}

.trump-tracker__day-share-button--email {
    background-image: url('@@assetPath@@/assets/images/email.svg');
    border-color: $c-dark-grey;
}