figure.element-atom {
    margin-top: 0;
    margin-bottom: 0;
}

// this fixes margin issues on apps
figure.element-atom,
figure.interactive-atom {
    margin: 0;
    overflow: hidden;
    height: 100%;
}


.is-immersive-interactive .l-footer {
    display: block !important;
}

.element-interactive .gs-container {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@include mq(mobileLandscape) {
    .element-interactive .gs-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.gs-container {
    position: relative;
    margin: 0 auto;
}

@include mq(tablet) {
    .gs-container {
        max-width: 740px;
    }
}

@include mq(desktop) {
    .gs-container {
        max-width: 980px;
    }
}

@include mq(leftCol) {
    .gs-container {
        max-width: 1140px;
    }
}

@include mq(wide) {
    .gs-container {
        max-width: 1300px;
    }
}

.l-side-margins {
    position: relative;
    height: auto;
}

.l-side-margins:before,
.l-side-margins:after {
    content: '';
    position: absolute;
    z-index: 12;
    background: rgba(0, 0, 0, 0.06);
    top: 0;
    height: 100%;
    width: 0;
}

@include mq(tablet) {
    .l-side-margins:before {
        left: 0;
    }

    .l-side-margins:after {
        right: 0;
    }

    .l-side-margins:before,
    .l-side-margins:after {
        width: calc((100% - 740px) / 2);
    }
}

@include mq(desktop) {
    .l-side-margins:before,
    .l-side-margins:after {
        width: calc((100% - 980px) / 2);
    }
}

@include mq(leftCol) {
    .l-side-margins:before,
    .l-side-margins:after {
        width: calc((100% - 1140px) / 2);
    }
}

@include mq(wide) {
    .l-side-margins:before,
    .l-side-margins:after {
        width: calc((100% - 1300px) / 2);
    }
}
