.trump-tracker__sidebar {
    max-width: 620px;
    margin: 12px 0;
    font-family: 'Guardian Text Egyptian Web';

    @include mq(desktop) {
        position: absolute;
        left: -320px;
        width: 300px;
        margin-top: 0;
    }

    @include mq(leftCol) {
        left: -480px;
        width: 460px;
    }
}

.trump-tracker__updated {
    font-family: 'Guardian Sans Web';
    color: #666;
    font-size: 14px;
    margin-top: 2px;
}
