.trump-tracker__sidebar {
    max-width: 620px;
    background-color: green;
    margin: 12px 0;

    @include mq(desktop) {
        position: absolute;
        left: -320px;
        width: 300px;
        margin-top: 0;
    }

    @include mq(leftCol) {
        left: -480px;
        width: 460px;
    }
}